[workspace]
resolver = "2"
members = [
    "crates/*",
]

[workspace.dependencies]
wtransport = "0.6.1"
tokio = { version = "1.48.0", default-features = false }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
